.tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: normal;

    &.active {
        border-bottom: 2px solid blue;
        font-weight: bold;
    }
}

@media (max-width: 425px) {
    .tab {
        padding: 5px;
    }
}
