.bookHeader {
    display: flex;
    margin-left: 20px;
    .img {
        width: 150px;
        height: 200px;
        border-radius: 5px;
        margin-left: 5px;
        box-shadow: 0 0 3px hsla(0, 0%, 3%, 0.5);
    }
    .recommendContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        .recommend {
            width: 150px;
        }
    }
    .bookInfo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 25px;
        flex: 1;
        .author,
        .rating,
        .price {
            margin-bottom: 0;
            margin-top: 0;
        }
        .title {
            margin: 10px 2px 0 0;
            font-size: clamp(16px, 2vw, 18px);
        }

        .author {
            font-style: italic;
            margin: 0;
        }

        .rating {
            margin: 0;
            font-size: 12px;
        }
        .price {
            font-size: 26px;
            margin: 50px 0 0 1px;
        }
        .priceUnavailable {
            color: #f00606;
            font-style: italic;
            font-size: 18px;
            font-weight: 600;
            text-wrap: wrap;
            margin: 60px 0 10px 1px;
        }
        .buyLink, .sampleLink {
            margin-top: 0;
            margin-right: 5px;
            background-color: #1a73e8;
            cursor: pointer;
            font-weight: 600;
            text-decoration: none;
            min-width: 50px;
            border-radius: 5px;
            padding: 5px 10px 5px 10px;
            transition: 0.3s;
            color: hsl(0, 0%, 95%);
            box-shadow: 0 0 5px hsl(0, 0%, 80%);
            &:hover {
                color: #1a73e8;
                background-color: hsl(0, 0%, 95%);
            }
        }
    }
}

@media (max-width: 760px) {

    .bookHeader {
        margin-left: 0;
        .img {
            width: 100px;
            height: 150px;
            margin-left: 0;
        }
        .bookInfo {
            padding-left: 20px;
            .title {
                margin: 10px 2px 0 0;
                font-size: clamp(14px, 18px, 20px);
            }
            .author{
                font-size: 14px;
            }
            .price {
                margin: 10px 0 0 1px;
            }
        }
    }

    .sampleLink,
    .buyLink {
        height: 30px;
        text-align: center;
        line-height: 15px;
    }

    .recommendContainer {
        display: none;
        .recommend {
            display: none;
        }
    }
}

@media( min-width: 950px)
{
    .bookHeader {
        .bookInfo {
            justify-content: space-between;
            .title {
                font-size: 20px;
            }
            .author {
                font-size: 16px;
            }
            .price {
                font-size: 30px;
            }
        }
    }
}
