.heading {
    font-weight: 400;
    margin: -30px 20px 0 100px;
    text-align: center;
    color: black;   
    text-shadow: 1px 1px 5px rgba(70, 67, 67, 0.089);
}

.logo {
width: 600px;
height: 100px;
margin-bottom: 0;
}

