.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(3px);
}

.expandedBook {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    z-index: 2;
    top: 6%;
    bottom: 10%;
    left: 22%;
    max-width: 50%;
    min-width: 50%;
    height: 80%;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    scrollbar-color: hsl(214, 82%, 80%) hsla(231, 96%, 18%, 0);
}

.bookHeader {
    display: flex;
    width: 100%;
    margin-left:20px;
}

.img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow: 0 0 3px hsla(0, 0%, 3%, 0.5);
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 25px;
}

.bookTabs {
    display: flex;
    justify-content: space-around;
}

.tabContent {
    font-size: 14px;
    padding: 2px 20px 20px 20px;
    height: 60%;
    overflow-x: hidden;
    p {
        margin-top: 3px;
    }
}

.title {
    margin: 10px 2px 0 2px;
}

.author {
    font-style: italic;
    margin-top: 20px;
}

.rating {
    margin-top: 0;
    font-size: 12px;
}

.author, .rating, .price {
    margin-bottom: 0;
    margin-top: 0;
}

.closeBtn {
    width: 100px;
    height: 50px;
    margin: 10px 0px 0px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
    box-shadow: 0 0 5px hsl(0, 0%, 80%);
    &:hover {
        background-color: hsl(0, 0%, 95%);
        color: #1a73e8;
    }
    &__corner {
        @extend .closeBtn;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        width: 30px;
        height: 30px;
    }
}

// .moreBtn {
//     width: 100px;
//     height: 30px;
//     background-color: #1A73E8;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-family: "Poppins", sans-serif;
//     font-weight: 500;
//     font-size: 14px;
//     transition: 0.3s;
//     box-shadow: 0 0 5px hsl(0, 0%, 80%);
//     &:hover {
//         background-color: hsl(0, 0%, 95%);
//         color: #1A73E8;
//     }
// }

.details {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0;
    &:last-child {
        margin-bottom: -5px;
    }
    p {
        margin: 0;
    }
}


.review {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
        border-bottom: none;
        margin-bottom: -5px;
    }
    p {
        margin: 5px 0 0 0;
    }
}

.recommend {
    margin-top: 4em;
    margin-left: 4em;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
}

.category {
    margin-bottom: 0;
    font-size: 12px;
}

.price {
    font-size: 26px;
    margin: 50px 0 0 1px;
}


.buyLink {
    margin-top: 0;
    background-color: #1a73e8;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    max-width: 70px;
    min-width: 70px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
    color: hsl(0, 0%, 95%) ;
    box-shadow: 0 0 5px hsl(0, 0%, 80%);
    &:hover {
        color: #1a73e8;
        background-color: hsl(0, 0%, 95%);
    }
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
    &:hover {
        color: #1a73e8;
        transition: 1s;
        background-color: hsl(0, 0%, 95%);
    }
}

.bio {
    margin-top: 0;
}
