@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.book {
    display: flex;
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
    height: 170px;
    width: 850px;
    margin-bottom: 3px;
    
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.title {
    width: 700px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    // margin-bottom: 0px;
    margin-top: 5px;

    display: block;
    margin-bottom: 10px;
}

.author {
    margin-top: 0;
    font-style: italic;
    margin-top: 0px;

    position: absolute;
    top: 45px;
}

.img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 3px hsla(0, 0%, 3%, 0.5);
}
